@import './constants.scss';

//<-- reset styles
html,
body {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
// reset styles -->

header {
  padding: $gutter-size--large;
  height: $header-height;
  display: flex;
  font-size: 16px;

  img {
    max-height: $header-content-height;
    padding: $gutter-size;
  }

  ul {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;
    list-style: none;
    line-height: $header-content-height;
  }

  .icon {
    width: $header-content-height;
    height: $header-content-height;
  }

  border-bottom: $border-standard;
}

a:link {
  color: $secondary-dark;
}
a:visited {
  color: $outline-dark;
}
a:hover {
  color: $secondary-extra-dark;
  text-decoration: underline;
}
a:active {
  color: $secondary-dark;
}

// <-- ICONS
.circle {
  border-radius: 50%;
  background-color: $icon-color;
  color: $secondary-light;
}

.icon {
  width: $icon-size;
  height: $icon-size;
}
// ICONS -->

// <-- SECTIONS
.section-container {
  padding: $gutter-size--xlarge;
}

.section-book-appointment-choose-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: $gutter-size;

  border-bottom: $border-standard;
}
// SECTIONS -->

.booking-container {
  padding-left: 12px;
}

.container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
